:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
  --header-color: #dd3e21;
}

.modal {
  margin: 0 auto;
  width: 400px;
  height: 500px;
  background-color: #fff;
  font-size: 12px;
}
.modal > .modaltext {
  margin: 40px;
}
.modal > .modaltext .header {
  width: 100%;
  font-size: 38px;
  text-align: center;
  padding: 5px;
}
.modal > .modaltext .content {
  margin: 40px auto;
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 25px 5px;
}
.modal > .modaltext .content .input {
  padding: 10px 5px;
  margin-bottom: 20px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: 0 auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.popup-overlay {
  width: 100%;
  /* background: transparent; */
}

.tooltip {
  height: 80px;
  width: 400px;
  background: #fff;
  border: 0.5px solid;
  border-radius: 12px;
}
.tooltip .labeldate {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.tooltip .dpicon {
  height: 35px;
  width: 35px;
  margin: 10px 24px 18px auto;
}

.taskheaders {
  width: 80px;
}
.taskheaders .taskbutton {
  width: 100%;
  padding: 0;
  border: none;
  background: none;
}

.taskcols {
  width: 80px;
  height: 100%;
}

.taskcols .tasks {
  width: 100%;
  margin: 10px 0px;
  border: none;
}
